/* dashboard.css */
/* scrool bar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
    margin-top: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, orange, rgb(248, 130, 27), red);
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--background-color);
    margin-left: 10px;
  }

/* Left Side */
.personal-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    padding: 0rem 0rem;
    margin: 6rem 0rem 1rem 0rem;
    border: 0.2rem solid var(--profile-border-color);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem var(--box-shadow-color);
}

.personal-info-box>h3 {
    margin: 1rem 0rem;
    font-size: 1.3rem;
    font-weight: bold;
}

hr {
    background-color: var(--profile-border-color);
}

.profile-picture {
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid var(--profile-border-color);
    border-radius: 50%;
    margin-top: -5rem;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.details {
    background-color: var(--background-color);
    padding: 0.7rem;
    margin: 2rem 0rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    width: 85%;
}

.contact {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 1.1rem;
    margin-top: -0.2rem;
}

.name {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--primary-text-color);
    margin: 0px;
    padding: 0px;
}

.sidebar {
    box-sizing: border-box;
    padding: 0px 20px;
}

.hold {
    width: 100%;
    display: flex;
}

.job{
    font-size: 16px;
    margin: 0.2rem 0rem;
    margin-bottom: 0.1rem;
    font-weight: 700;
}

#setting{
    margin: 0px;
    margin-top: 1rem;
}

/* Right Side */
.content {
    box-sizing: border-box;
    padding: 8px 20px;
}

.main-content {
    margin: 1.45rem 0rem;
    border: 0.2rem solid var(--profile-border-color);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem var(--box-shadow-color);
    background-color: var(--box-color);
    padding: 1rem 2rem;
}

.join p{
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
}

.subhead{
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}

#intro-content {
    width: 100%; /* Width equal to its parent */
    height: auto; /* Adjust height to fit content */
    /* resize: none; Disable textarea resize */
    /* border: none; No border */
    background-color: transparent; /* No background color */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-family: inherit; /* Use parent font-family */
    font-size: inherit; /* Use parent font-size */
    text-align: justify;
    margin-bottom: 2rem;
}

.join {
    display: flex;
    align-items: center; /* Vertically center the items */
}

.horizontal-bar {
    width: 10rem;
    height: 0.2rem; /* Adjust height as needed */
    border-radius: 10px;
    margin-top: -17px;
    margin-left: 1.5rem;
    background: linear-gradient(to right, orange, red);
}

#blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    max-height: 52rem;
    overflow-y: auto;
}

.blog-entry {
    width: 47%;
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
}

.blog-entry h4{
    font-weight: 600;
}

/* Styling for even blog entries */
.blog-entry:nth-child(even) {
    background-color: rgba(255, 192, 203, 0.5); /* Pink with transparency */
}

/* Styling for odd blog entries */
.blog-entry:nth-child(odd) {
    background-color: rgba(173, 216, 230, 0.5); /* Light blue with transparency */
}


#education-container {

    margin-bottom: 1.5rem;
    z-index: 1;
}

.education-details {
    flex: 1; /* Allow the details section to take up remaining space */
}

.education-entry {
    border-left: 0.06rem solid var(--box-shadow-color); /* Adjust the thickness and color of the line as needed */
    padding-left: 0px;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    display: flex;
    align-items: start;
}

.education-entry::before {
    content: '';
    transform: translateY(50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, orange, red);
    margin-left: -6px;
}

.education-details p{
    text-align: left;
    margin: 0.1rem 0.6rem;
}

.grad_year {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.school {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.degree{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--profile-border-color);
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.skill {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.4rem 0.7rem;
    margin: 0.2rem 0rem;
    margin-right: 0.4rem;
    border: 0.02rem solid var(--primary-text-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: var(--primary-text-color);
}

.certificate-blog {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 0.5rem;
    border-radius: 1rem;
    text-align: left;
    border: 1px solid var(--profile-border-color);
    overflow: hidden;
    margin: 1rem 0.3rem;
    /* margin-right: 1rem; */
    /* margin-right: 2rem; */
    text-align: justify;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    margin-bottom: 0.5rem;
}

.certificate-image {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.7rem;
}

.certificate-title {
    font-weight: bold;
    margin: 0rem 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 60%;
}

.certificate-blog > a {
    text-decoration: none;
    color:initial
    /* color: var(--primary-text-color); */
}

.certificate-issued-by {
    /* font-style: italic; */
    font-weight: bolder;
    margin: 0.7rem 0rem;
    /*margin-bottom: 0.2rem;*/
    padding: 0.3rem 0.1rem;
    font-size: 0.85rem;
}

.certificate-dates {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    margin-bottom: 0.2rem;
    padding-bottom: 0rem;
}

.certificate-skills {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}


/* Uploading the image button */
.pp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
}

#input-file{
    display: none;
}

.pp-label{
    display: none;
    position: relative;
    margin-top: -6rem;
}

.nolink{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    margin-bottom: 0.2rem;
    padding-bottom: 0rem;
}

.nolink svg{
    height: 22px;
    width: 22px;
    margin: 0rem;
    padding: 0rem;
}

.nolink a{
    text-decoration: none;
    color : var(--primary-text-color);
}

.deco1 {
    background-color:  rgba(255, 192, 203, 0.5);
    width: fit-content;
    padding: 0.4rem 0.7rem;
    border-radius: 0.7rem;
}

.deco2{
    background-color: rgba(173, 216, 230, 0.5);
    width: fit-content;
    padding: 0.4rem 0.7rem;
    border-radius: 0.7rem;
    color : var(--primary-text-color);

}

.project-group {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    /* text-decoration: underline; */
}

.projects {
    display: none; /* Initially hide all project groups */
    margin-top: 1rem;
    max-height: 52rem;
    overflow-y: auto;
}

.select{
    /* text-decoration: underline; */
    background: linear-gradient(to right, orange, red);
    padding: 0.4rem 0.7rem;
    border-radius: 0.7rem;
    box-sizing: border-box;
}

.projects.visi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.btncol{
    background: linear-gradient(to right, orange, red);
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
    margin: 0.5rem 0rem;
}

#uploadForm{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Responsive Part */
.drop-small{
    display: none;
}

.drop-big{
    display: block;
}

/* Responsive Part */
@media (min-width: 1030px) {

    /* Medium screen and above */
    .sidebar {
        width: 30%;
    }

    .content {
        width: 70%;
    }
}

@media (max-width: 1030px) and (min-width:936px) {

    /* Large screen and above */
    .sidebar {
        width: 34%;
    }

    .content {
        width: 66%;
    }
}

@media (max-width: 936px) and (min-width:700px) {

    /* Large screen and above */
    .sidebar {
        width: 45%;
    }

    .content {
        width: 55%;
    }

    .blog-entry {
        width: 100%;
    }

    .certificate-blog {
        width: 100%;
    }

    .row1 {
        flex-direction: column;
        /* Display items vertically */
        align-items: center;
        /* Horizontally center */
    }

    .certificate-title {
        margin: 0.1rem 0rem;
    }
}

@media (max-width: 700px) {
    .hold {
        width: 100%;
        display: block;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .toolbar {
        position: fixed;
        margin: 0rem;
        bottom: 1rem;
        width: 88%;
        z-index:1051
    }

    .main-content {
        margin-bottom: 6rem;
    }

    .blog-entry {
        width: 100%;
    }

    .certificate-blog {
        width: 100%;
    }

    .row1 {
        flex-direction: column;
        /* Display items vertically */
        align-items: center;
        /* Horizontally center */
    }

    .certificate-title {
        margin: 0.1rem 0rem;
    }

    .certificate-dates {
        display: flex;
        flex-direction: column;
    }

    .drop-small{
        display: block;
    }

    .drop-big{
        display: none;
    }

    .projects {
        display: none;
        /* Initially hide all project groups */
    }

    .select {
        background: linear-gradient(to right, orange, red);
        color: white;
        border-radius: 0.0rem;
    }

    .dropdown-divider {
        margin: 0rem;
        border: 0.01em solid rgb(0, 0, 0);
    }
    .btn-group {
        color: white;
        width: 90%;
    }

    /* Custom CSS to match the dropdown menu width with the button width */
    .dropdown-menu {
        /* color: white; */
        width: 100%;
        padding: 0cm;
    }

    .project-group-drop:hover {
        background: linear-gradient(to right, rgb(252, 187, 68), rgb(253, 70, 70));
    }

    .project-group-drop {
        display: block;
        /* margin-right: 10px; */
        cursor: pointer;
        text-align: center;
        padding: 0.3rem 0rem;
        /* padding: 0.2rem 0.2rem; */
        /* text-decoration: underline; */
    }

    .but-drop {
        background: linear-gradient(to right, orange, red);
        color: white;
    }

    .but-drop:hover {
        color: white;
    }

}
/* 
@media (max-width: 452px) {
    .btn-group {
        width: 70vw;
    }
} */