<!-- dashboard.html -->

{% extends 'base.html' %}
{% block title %}Education{% endblock %}

{% load static %}

{% block extra_css %}
<!-- Additional CSS specific to the dashboard -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<!-- Main content -->
 
<div class="main-content" id="promark">

        <!-- Work Experience Section -->
        <div class="join">
            <p>WORK EXPERIENCE</p>
            <div class="horizontal-bar"></div>
        </div>

        <div id="education-container">
            {% for entry in work_experience_entries|dictsortreversed:"id" %}
            <div class="education-entry">
                <div class="education-details">
                    <p class="grad_year"> {{ entry.years }}</p>
                    <p class="degree">{{ entry.job_title }}</p>
                    <p class="school"> {{ entry.company }}</p>
                </div>
                <div class="education-actions">
                    {% if editable %}
                    <form method="post" action="{% url 'delete_work_experience' %}">
                        {% csrf_token %}
                        <input type="hidden" name="job_title" value="{{ entry.job_title }}">
                        <input type="hidden" name="company" value="{{ entry.company }}">
                        <input type="hidden" name="years" value="{{ entry.years }}">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    
        {% if editable %}
        <button id="add-work-experience-btn">Add Work Experience</button>
        <form id="add-work-experience-form">
            <input type="text" name="job_title" placeholder="Job Title">
            <input type="text" name="company" placeholder="Company">
            <input type="text" name="years" placeholder="Years">
            <button type="submit">Add</button>
        </form>
        {% endif %}

    <!-- <div class="join">
        <p>EDUCATION </p>
        <div class="horizontal-bar"></div>
    </div> -->

    <h3 class="subhead">EDUCATION</h3>
    <div id="education-container">
        {% for entry in education_entries %}
        <div class="education-entry">
            <div class="education-details">
                <p class="grad_year">{{ entry.graduation_year }}</p>
                <p class="degree"> {{ entry.degree }}</p>
                <p class="school"> {{ entry.school }}</p>
            </div>
            <div class="education-actions">
                {% if editable %}
                <form method="post" action="{% url 'delete_education_entry' %}">
                    {% csrf_token %}
                    <input type="hidden" name="graduation_year" value="{{ entry.graduation_year }}">
                    <input type="hidden" name="degree" value="{{ entry.degree }}">
                    <input type="hidden" name="school" value="{{ entry.school }}">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if editable %}
    <button id="add-education-btn">Add Education</button>
    <form id="add-education-form">
        <input type="text" name="degree" placeholder="Degree">
        <input type="text" name="school" placeholder="School">
        <input type="text" name="graduation_year" placeholder="Graduation Year">
        <input type="number" name="display_order" placeholder="Display Order">
        <button type="submit">Add</button>
    </form>
    {% endif %}

    <h3 class="subhead">SKILLS</h3>
    <div id="skills-container">
        {% for entry in skills_entries %}
        <span class="skill">{{ entry.skills_list }} 
            {% if editable %}<button class="delete-skill-btn"
                data-skill="{{ entry.skills_list }}">Delete</button> {% endif %}    
            </span >
        {% endfor %}
    </div>

    {% if editable %}
    <form id="add-skill">
        <input type="text" name="skill" placeholder="Enter skill">
        <button type="submit" name="add_skill">Add</button>
    </form>
    {% endif %}

</div>
{% endblock %}